.img_one{width:3rem;height:3rem;float:left;margin:1rem 1rem 0 3rem;}
.text_one{font-size:3.2em;vertical-align: bottom;line-height:2.5em;}
.content{width:90%;height:100px;margin:0 auto;background-color:white;}
.mar{margin-top:1rem;margin-bottom:1rem;}
.area{width:100%;resize:none;margin-left:5%}
.mar_two{margin-bottom:1rem;}
.s_width{
	width:80%;
}

.lend{
	margin:15px 0px 0 20px; 
	font-size:2.5em;
}