.tab_one{
	background-color:#FFE199;border-radius:1em;margin:8% 0 1.5em 0;opacity:.8;
}
.img_one{width:50px;margin:0 auto;}
.text_one{font-size:3.2em;text-align:center;line-height:2.5em;margin:3% 0 1rem 0;}
.text_two{font-size:2.2em;line-height:2em;}
.btn_one{margin-top:40%;width:100%;}
.text_three{text-align:center;font-size:3.5em;margin-top:5%;margin-bottom:2%}
.text_four{text-align:center;font-size:5em;margin:5% 0 2% 0;}
.text_five{text-align:center;font-size:2.2em;margin-bottom:5%;height:50px;}
@media (max-width:480px) {			
	.tab_one{
	margin:20% 0 1.5em 0;
	}
	.btn_one{margin-top:5%;}
}