    #b {
        padding-top: 10px;
    }
    #a {
        -moz-columns: 300px 2;
        padding-left: 50px;
        -webkit-columns: 300px 2;
        text-align: center;
        column-gap: normal;
        column-gap: 0px;
        column-fill: balance
    }
    .t {
        border-collapse: separate;
        border-spacing: 5px;
    }
    .img_one{width:25px;margin:25px 10px 0 20px;}
    .space{margin-left:5px;}
      .text_one{font-size:1.6em;margin-bottom:10px}
      .inp_one{margin-top:5px;}
      td{border:1px solid #F7C248;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:center;}
	table{border:1px solid #F7C248;border:1px solid #F7C248;}
    @media (max-width:480px) {			
	
	.space{margin-left:0px;}
}