.tab_one{
	background-color:#FFE199;border-radius:1em;margin-bottom:.5rem;opacity:.8;
}
.text_one{font-size:3em;float:right;}
.text_two{width:100%;word-break:break-all;white-space:normal;font-size:3em;line-height:2em}
.text{text-align:center;font-size:5em;line-height:3em;}